---
title: "View BDD Test Results in Katalon TestOps"
sidebar: katalon_studio_docs_sidebar
permalink: katalon-analytics/docs/bdd-test-results.html
---
Katalon TestOps allows you to view BDD Test Results uploaded from Katalon Studio.

## Prerequisites

- You have enabled **Katalon TestOps Integration** in Katalon Studio. [Learn more](https://docs.katalon.com/katalon-studio/docs/katalon-analytics-beta-integration.html#settings)
- You have executed at least one BDD test suites in Katalon Studio. [Learn more](https://docs.katalon.com/katalon-studio/docs/cucumber-features-file.html)


## Upload and View BDD reports

### 1. Configure BDD Settings 

In your project, go to **Project Settings** > **Enable BDD reports**.


### 2. View BDD test executions and logs 

To view BDD reports, in your project, go to **Executions**. 

<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/bdd-test-results/executions-bdd.png" width="" height="">

### 3. View BDD test results in as Requirements

In your project, go to **Requirements**.

Features of your BDD tests will be displayed as Requirements, whereas scenarios will be displayed as Test Cases.

<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/bdd-test-results/requirements-bdd.png" width="" height="">


