---
title: "View BDD Test Results in Katalon TestOps"
sidebar: katalon_studio_docs_sidebar
permalink: katalon-analytics/docs/bdd-test-results.html
---
Starting from Katalon Studio 7.8,  if a BDD-enabled Katalon Studio project is integrated with Katalon TestOps, you can see native BDD reports with Features and Scenarios instead of Test Cases.

[Enable Katalon TestOps integration with Katalon Studio](https://docs.katalon.com/katalon-studio/docs/katalon-analytics-beta-integration.html#settings)

[Set up a BDD project with Katalon Studio](https://docs.katalon.com/katalon-studio/docs/cucumber-features-file.html)


## Upload and View BDD reports

### Configure BDD Settings 

In your project, go to **Project Settings** > **Enable BDD reports**.

<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/bdd-test-results/bdd-settings.png" width="" height="">

### View BDD test executions and logs 

After you have configure BDD Settings, Katalon TestOps will recognize and process BDD-based test execution results.

To view BDD reports, in your project, go to **Executions**. 

There will be icons next to those BDD executions.

<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/bdd-test-results/executions-bdd.png" width="" height="">

Scenario content is also shown on **Test Run** pages. This will help you capture the logic of each Test Case easily.

<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/bdd-test-results/test-runs-bdd.png" width="" height="">

### View BDD test results in as Requirements

In your project, go to **Requirements**.

Features of your BDD tests will be displayed as Requirements, whereas scenarios will be displayed as Test Cases.

<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/bdd-test-results/requirements-bdd.png" width="" height="">


<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/bdd-test-results/traceability-bdd.png" width="" height="">
