---
title: "Compare Test Results"
sidebar: katalon_studio_docs_sidebar
permalink: katalon-analytics/docs/compare-test-results.html 
description: 
---
TestOps allows you to compare the results of multiple test runs. By doing so, you can check if a test is producing the same results each time you run it.

Follow these steps:

1. Sign in to [Katalon TestOps](https://testops.katalon.io/login) and go to your Project.
2. Go to **Reports** > **Test Runs**.

    The **Test Runs** page appears.

3. Scroll down the page to see the Test Runs list.  

4. Select the Test Runs you want to compare.

    > Notes:
    >
    > You can select up to 3 test runs for comparison.

    <img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/compare-test-results/kt2_select_test_run_2.png" width=100% alt="select test runs">

    After selecting Test Runs, you will see a new options bar pop up at the top of the page.

5. Click **Compare**.

    The **Test Runs Comparison** page appears as below.

     <img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/compare-test-results/kt2_test_run_comparison_2.png" width=100% alt="select test runs">

    You can check the details of Test Runs and view a comparison chart here.
