---
title: "Compare Test Results"
sidebar: katalon_studio_docs_sidebar
permalink: katalon-analytics/docs/compare-test-results.html 
description: 
---
TestOps allows you to compare the results of multiple test executions in a side-by-side table so that you can easily know whether or not a test is producing the same result each time it is run.

1. Go to **Reports & Analytics** section in your project;
2. Select test runs from the Test Runs list by checking the checkboxes;
3. Click on the **Compare** button.

<img src="https://github.com/katalon-studio/docs-images/blob/master/katalon-analytics/docs/compare-test-results/1-test-compare.png" width="" height="">

> Note: You can select up to 3 test executions to view the comparison.

Now you can view the execution details and comparison charts.

<img src="https://github.com/katalon-studio/docs-images/blob/master/katalon-analytics/docs/compare-test-results/2-test%20compare.png" width="" height="">
