---
title: "Compare Test Results"
sidebar: katalon_studio_docs_sidebar
permalink: katalon-analytics/docs/compare-test-results.html 
description: 
---
TestOps allows you to compare the results of multiple test executions in a side-by-side table so that you can know whether or not a test is producing the same effect each time you run it.

On the tabbed ribbon **Reports & Analytics** of Katalon TestOps, choose **Test Runs**.

![](https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/compare-test-results/kt2_report_test_runs.png)

Select **Test Runs** from the list by checking the checkboxes.

![](https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/compare-test-results/kt2_select_test_run.png)

Click on the **Compare** button;

![](https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/compare-test-results/kt2_test_run_button_compare.png)

> Note: You can select up to 3 test executions to view the comparison.

Now you can view the execution details and comparison charts.

![](https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/compare-test-results/kt2_test_run_comparison.png)
