---
title: "Download Test Results" 
sidebar: katalon_studio_docs_sidebar
permalink: katalon-analytics/docs/download-test-results.html 
description: 
---

## Download each execution as a .csv file

To download a test result, go to the **Executions** section in your project.

Click on the execution ID number from the list to go to execution detail page.

Click CSV icon to download the result.

<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/download-test-results/download-test-result.png" width="" height="">

## Download multiple executions as a .zip file

> You can download multiple executions at once by using the bulk selection feature in the **Executions** section.

To download multiple test results, go to the **Executions** section in your project.

Here you can see the list of executions. 

After choosing the executions that you want to download, click on the **Download Results** button to download as a .zip file.

<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/project-management-delete/delete-multiple-execution.png" width="" height="">

After succesfully downloading the .zip file, you can extract to multiple .csv files to view the test results.
