---
title: "Execute Test Runs manually"
sidebar: katalon_studio_docs_sidebar
permalink: katalon-analytics/docs/execute-test-run.html 
description: 
---
## Prerequisites

- You have scheduled your Test Runs. [Learn more](https://docs.katalon.com/katalon-analytics/docs/create-plan.html)

## Execute Test Runs

After we scheduled Test Runs in Katalon TestOps, we can execute them without Katalon Studio. Before running a Test Run, we have to run the Agent of that Test Run. For running the Agent, we can [see here](https://docs.katalon.com/katalon-analytics/docs/install_kt_agent.html). In **Test Planning**, choose **Test Run Types**, click on the Run button.

![](https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/execute-test-runs/kt2_test_run_type_run.png)

After you have finished executing the Test Runs, you can view the status in the calendar view. [Learn more](https://docs.katalon.com/katalon-analytics/docs/create-plan.html#view-test-runs)

![](https://github.com/katalon-studio/docs-images/raw/9f5d0c65c5fbca35fb4237a7ccfc7d282fab1038/katalon-analytics/docs/execute-test-runs/kt2_test_planning.png)

## Related toprics

- [Set up Configurations for Remote Execution](/katalon-analytics/docs/test-run-config.html)
- [Execute Test Runs by a Trigger](/katalon-analytics/docs/kt-scheduler.html)