---
title: "Execute Test Runs manually"
sidebar: katalon_studio_docs_sidebar
permalink: katalon-analytics/docs/execute-test-run.html 
description: 
---

The content has been moved to [Execute Test Runs](/katalon-analytics/docs/kt-scheduler.html).