---
title: "Execute Test Runs manually"
sidebar: katalon_studio_docs_sidebar
permalink: katalon-analytics/docs/execute-test-run.html 
description: 
---
## Prerequisites

- You have scheduled your Test Runs. [Learn more](katalon-analytics/docs/create-plan.html)

## Execute Test Runs

After Test Runs have been scheduled in Katalon TestOps, you can execute them without Katalon Studio.

To execute your Test Runs, in **Test Planning**, go to "Test Run Types" > Click on the *"Run"* button.

<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/execute-test-runs/execute-test-runs.png" width="" height="">

After you have finished executing the Test Runs, you can view the status in the calendar view. [Learn more](katalon-analytics/docs/create-plan.html#view-test-runs)

<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-analytics/docs/execute-test-runs/view-test-runs.png" width="" height="">

## Related toprics

- [Set up Configurations for Remote Execution](/katalon-analytics/docs/test-run-config.html)
- [Execute Test Runs by a Trigger](/katalon-analytics/docs/kt-scheduler.html)