---
title: "Overwrite Test Run status" 
sidebar: katalon_studio_docs_sidebar
permalink: katalon-analytics/docs/overwrite-test-run.html 
description:
---

The content has been moved to [Override Test Results status](https://docs.katalon.com/katalon-analytics/docs/kt-change-result-pass-fail.html).
