---
title: "Overwrite Test Run status" 
sidebar: katalon_studio_docs_sidebar
permalink: katalon-analytics/docs/overwrite-test-run.html 
description:
---
## Prerequisites

- Your project has at least one test run which consists of test result(s) in Katalon TestOps.

- You are an Owner or Admin of the team.

## Change status of test results

